html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body{
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

/*
.container{
  width: 320px;
  height: 450px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 60px 40px;
  background-color: #F5F5DC;
  border-radius: 5px;
}*/

/* Styes for container */
#container{
  width: 400px;
}

/* Styles for login page card */
.card {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

/* Login styles */
.login{
  color:white;
}
