html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body{
  margin: 0;
  padding: 0;
  display: table-cell;
    vertical-align: middle;
}

/*
.container{
  width: 320px;
  height: 450px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 60px 40px;
  background-color: #F5F5DC;
  border-radius: 5px;
}*/

.material-icons.md-48 {
    margin-top: -40px;
    color:black;
    font-size: 100px;
    padding-left: 30%;
}

#container{
  width: 400px;
}

.card {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

.login{
  color:white;
}
