#topNavBar ul {
    list-style-type: none;
    top: 0;
    width: 100%;
    font-size: 18px;
    margin: 0;
    padding-left: 0;
    background-color: #1a1a1a;
    float: left;
}

#cluesButton{
    float: right;
}

#topNavBar li {
    float: left;
}

#topNavBar li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    border-right: 1px solid lightblue;
}

#topNavBar li a:hover{
    background-color: purple;
}

body {
    background-color: lightblue;
    height: 100%;
    width:100%;
}


p {
    padding: 0px 0px 0px 0px;
}

.material-icons.md-36 {
    color:black;
    font-size: 36px;
}
